<div class='campos_persona'>
  <%= f.input :id, as: :hidden %>
  <% @anios = *(1950..Date.today.year) %>
  <%= f.input :anionac, 
    collection: @anios,
    label: 'Año Nacimiento' %>
  <% @meses = [
      ["ENERO", 1], 
      ["FEBRERO", 2], 
      ["MARZO", 3], 
      ["ABRIL", 4], 
      ["MAYO", 5], 
      ["JUNIO", 6], 
      ["JULIO", 7], 
      ["AGOSTO", 8], 
      ["SEPTIEMBRE", 9], 
      ["OCTUBRE", 10], 
      ["NOVIEMBRE", 11], 
      ["DICIEMBRE", 12]] %>
  <%= f.input :mesnac, 
    collection: @meses,
      label: 'Mes Nacimiento' %>
  <% @dias = *(1..31) %>
  <%= f.input :dianac, collection: @dias, label: 'Día Nacimiento' %>
  <%= f.input :sexo, collection: [["SIN INFORMACIÓN", :S], 
    ["MUJER", :F], ["HOMBRE", :M]], 
    include_blank: false 
  %>
  <%= f.association :departamento,
    collection: (Sip::Departamento.habilitados.where(
      id_pais: 170)),
    label: "Departamento de Nacimiento", label_method: :nombre,
    value_method: :id 
  %>
  <%= f.association :municipio,
    collection: ( Sip::Municipio.habilitados.where(
        id_departamento: f.object.id_departamento)),
    label: "Municipio de Nacimiento",
    label_method: :nombre,
    value_method: :id 
  %>
  <%= f.association :clase,
    collection: (Sip::Clase.habilitados.where(
      id_municipio: f.object.id_municipio)),
    label: "Centro Poblado de Nacimiento",
    label_method: :nombre,
    value_method: :id 
  %>
</div>
