<div class='campos_persona'>
  <%= f.input :id, as: :hidden %>
  <%= f.input :anionac, label: 'Año Nacimiento' %>
  <%= f.input :mesnac, label: 'Mes Nacimiento' %>
  <%= f.input :dianac, label: 'Día Nacimiento' %>
  <%= f.input :sexo, collection: [["SIN INFORMACIÓN", :S], 
    ["MUJER", :F], ["HOMBRE", :M]], 
    include_blank: false 
  %>
  <%= f.association :departamento,
    collection: (Sip::Departamento.habilitados.where(
      id_pais: 170)),
    label: "Departamento de Nacimiento",
    label_method: :nombre,
    value_method: :id 
  %>
  <%= f.association :municipio,
    collection: ( Sip::Municipio.habilitados.where(
        id_departamento: f.object.id_departamento)),
    label: "Municipio de Nacimiento",
    label_method: :nombre,
    value_method: :id 
  %>
  <%= f.association :clase,
    collection: (Sip::Clase.habilitados.where(
      id_municipio: f.object.id_municipio)),
    label: "Centro Poblado de Nacimiento",
    label_method: :nombre,
    value_method: :id 
  %>
</div>
