<div class='control-group nested-fields'>
  <div class="controls">
    <%  
        f.object = Sivel2Gen::CasoFuenteprensa.new if !f.object
    %>

    <%= f.association :fuenteprensa,
      collection: Sip::Fuenteprensa.habilitados,
      label_method: :nombre,
      value_method: :id 
    %>

    <%= f.input :fecha, 
      input_html: { 
        "data-behaviour" => "datepicker",
        "value" => f.object.fecha || @caso.fecha
      },
      :as => :string, 
      :label => "Fecha" 
    %>

    <%= f.input :ubicacion %>

    <%= f.input :id, as: :hidden %>

    <%= link_to_remove_association "Eliminar Fuente", f, 
      :class => 'btn-danger' 
    %> 
  </div>
</div>
