<%= f.input :id, readonly: true%>

<%= s.input :consecorg %>

<% if s.object.oficina_id == 104 && can?(:edit, :casosacin) then %>
  <div class="privado alert-info">
    <%= s.input :consentimiento, 
      collection: ApplicationHelper::NOSI,
      #input_html: {class: 'alert-info'},
      include_blank: false  %>
  </div>
<% end %>

<%= s.input :fecharec, 
  input_html: { "data-behaviour" => "datepicker" },
  as: :string
%>

<%= s.input :docterrenopor %>

<%= s.association :usuario,
  collection: Usuario.all.order(:nombre),
  include_blank: false,
  label_method: :nusuario, 
  value_method: :id 
%>

<%= s.association :oficina,
  collection: Msip::Oficina.habilitados,
  include_blank: false,
  label_method: :nombre, 
  value_method: :id 
%>

<%= s.association :estadocaso, 
  collection: ::Estadocaso.habilitados,
  include_blank: false,
  label_method: :nombre, 
  value_method: :id 
%>

<%= s.association :acompanamiento, 
  collection: ::Acompanamiento.habilitados,
  include_blank: false,
  label_method: :nombre, 
  value_method: :id 
%>

