<%= f.input :id, label: "Código", readonly: true%>

<%= s.input :fecharec, 
  :input_html => { "data-behaviour" => "datepicker" },
  :as => :string
%>

<%= s.association :usuario,
  collection: Usuario.all.order(:nombre),
  include_blank: false,
  label: "Usuario(a) que diligencia",
  label_method: :nusuario, 
  value_method: :id 
%>

<%= s.association :oficina,
  collection: Sip::Oficina.habilitados,
  include_blank: false,
  label_method: :nombre, 
  value_method: :id 
%>

<%= s.input(
  :estadocaso, 
  collection: [
    ["ACOMPAÑADO", :A],
    [:DOCUMENTADO, :D] ,
    [:REGISTRADO, :R] 
  ],
  include_blank: false ) 
%>

<%= s.input(
  :tipoacomp, 
  collection: [
    ["CULTURAL", :C],
    ["JURÍDICO", :J], 
    ["NINGUNO", :N], 
    ["PSICOSOCIAL", :P]
  ],
  include_blank: false ) 
%>


<% if s.object.oficina_id == 104 && can?(:edit, :casosacin) then %>
  <div class="panel panel-default">
    <div class="panel-heading">Privado ACIN</div>
    <div class="panel-body">
      <%= s.input(
        :consentimiento, 
        collection: [
          [:NO, :N],
          [:SI, :S], 
          ["SIN INFORMACIÓN", :I]
        ],
        include_blank: false ) 
      %>
    </div>
  </div>
<% end %>
