<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>
    <%= f.input :fecha, 
	    :input_html => { "data-behaviour" => "datepicker"},
	    :as => :string, :label => "Fecha" 
    %>

    <%= f.input :mesinexacto,
      boolean_style: :nested,
      inline_label: "Mes Inexacto"
    %>
    <%= f.input :diainexacto,
      boolean_style: :nested,
      inline_label: "Día Inexacto"
    %>
    <%= f.input(:diasemana, collection: [
      [:DOMINGO, 0], [:LUNES, 1], [:MARTES, 2], [:MIERCOLES, 3],
      [:JUEVES, 4], [:VIERNES, 5], [:SABADO, 6],
      ], label: "Dia de la Semana") 
    %>

    <div class="hora">
	    <%= f.input :hora, wrapper_html: {style: 'display: inline-flex'} %>
    </div>


    <table border=1 width="100%">
      <thead>
        <tr>
          <th>Presunto Responsable</th>
          <th>Agresión Particular</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="actosevento">
      <%= f.simple_fields_for :actoevento do |a| %>
        <%= render 'actoevento_campos', :f => a %>
      <% end %>
      </tbody>
    </table>
    <div class="links">
      <%= link_to_add_association 'Añadir Acto', f, 
        :actoevento,
        :"data-association-insertion-node" => "tbody#actosevento", 
        :"data-association-insertion-method" => "append", 
        partial: 'actoevento_campos',
        :class => 'btn-primary'
      %>
    </div>

    <%= link_to_remove_association "Eliminar Evento", f, 
      {:class => 'btn-danger', :'data-existing' => 'true'} 
    %>
  </div>
</div>
