<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>

    <%= f.input :fechaseguimiento, input_html: { 
      "data-behaviour" => "datepicker",
      "value" => f.object.fechaseguimiento || @caso.fecha },
      as: :string 
    %>

    <%= f.input :anio, 
      collection: @anios
    %>
    <%= f.input :mes, 
      collection: ApplicationHelper::MESES
    %>
    <%= f.input :dia, collection: @dias %>
    <%= f.input(
            :diasemana, 
            collection: ApplicationHelper::DIASEMANA
      ) 
    %>
    <%= f.association :departamento,
      collection: Msip::Departamento.habilitados.where(id_pais: 170),
      include_blank: true,
      label_method: :nombre, 
      value_method: :id
    %>
    
    <%= f.association :municipio,
      collection: ( Msip::Municipio.habilitados.where(
        id_departamento: f.object.departamento_id)),
      include_blank: true,
      label_method: :nombre, 
      value_method: :id
    %>

    <%= f.input :resguardo %>

    <%= f.input :comunidad %>

    <%= f.input :numvecesantes %>
    
    <%= f.input :relacionadocon,
            collection: ApplicationHelper::TIPOCONFLICTO,
            include_blank: false %>

    <% if f.object.caso.casosjr.oficina_id == 104 && 
       can?(:edit, :casosacin) then %>
      <div class="privado alert-info">

        <%= f.input :descripcionafectacion %>

        <%= f.association :relacionprvic,
          collection: ::Relacionprvic.habilitados,
          include_blank: false,
          label_method: :nombre, 
          value_method: :id %> 

      </div>
    <% end %>

    <%= render 'eventopresponsable', :f => f %>

    <%= f.input :testigo, 
      collection: ApplicationHelper::NOSI,
      include_blank: false
    %>

  <div class="panel panel-default">
    <div class="panel-heading">Afectaciones</div>
    <div class="panel-body">

      <%= f.association :tafectacion,
        collection: ::Tafectacion.habilitados,
        include_blank: false,
        label_method: :nombre, 
        value_method: :id %> 

      <% if f.object.caso.casosjr.oficina_id == 104 && 
           can?(:edit, :casosacin) then %>
        <div class="privado alert-info">

          <%= f.association :consecuenciaindividual,
            collection: ::Consecuenciaindividual.habilitados,
            include_blank: false,
            label_method: :nombre, 
            value_method: :id %>

          <%= f.association :consecuenciafamiliar,
            collection: ::Consecuenciafamiliar.habilitados,
            include_blank: false,
            label_method: :nombre, 
            value_method: :id %>

        </div>
      <% end %>

      <%= f.association :tapoyo,
        collection: ::Tapoyo.habilitados,
        include_blank: false,
        label_method: :nombre, 
        value_method: :id %>

      <% if f.object.caso.casosjr.oficina_id == 104 && 
           can?(:edit, :casosacin) then %>
         <div class="privado alert-info">
     
          <%= f.association :consecuenciafisica,
            collection: ::Consecuenciafisica.habilitados,
            as: :check_boxes,
            wrapper_html: { class: 'trescolumnas' },
            input_html: { style: 'margin-left: 0px;' },
            include_blank: false,
            label_method: :nombre, 
            value_method: :id 
          %>

          <%= f.input :actividadesdejadas %>

          <%= f.input :reaccionfamiliaycomunidad %>

          <%= f.input :afectacionotra %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Protección</div>
    <div class="panel-body">


      <%= f.association :acompanamiento,  
        collection: ::Acompanamiento.habilitados,
        include_blank: false,
        label_method: :nombre, 
        value_method: :id %>

      <% if f.object.caso.casosjr.oficina_id == 104 && 
           can?(:edit, :casosacin) then %>
         <div class="privado alert-info">
           <%= f.input :telcontacto %>
         </div>
       <% end %>

      <%= f.input(
        :situacionriesgo, 
        collection: ApplicationHelper::NOSI,
        include_blank: false) %>

      <%= f.input(
        :solicitomedidas, 
        collection: ApplicationHelper::ANTEQUIENMEDIDAS,
        include_blank: false) %>

      <%= f.input :medidasrecibidas %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Acceso a la Justicia</div>
    <div class="panel-body">

      <%= f.input :denuncia, 
        collection: ApplicationHelper::NOSI, 
        include_blank: false %>

      <%= f.input :denunciaante, 
        collection: ApplicationHelper::DENUNCIAANTE,
        include_blank: true %>

      <%= f.input :aniodenuncia, 
        collection: @anios %>

      <%= f.input :mesdenuncia, 
        collection: ApplicationHelper::MESES %>

      <%= f.input :diadenuncia, 
        collection: @dias %>
  
      <% if f.object.caso.casosjr.oficina_id == 104 && 
       can?(:edit, :casosacin) then %>
       <div class="privado alert-info">

         <%= f.input :avancescaso %>

         <%= f.input :etapaproceso %>

         <%= f.input :recibidoreparacion, 
           collection: ApplicationHelper::NOSI,
           include_blank: false %>

         <%= f.input :quereparacion %>

         <%= f.input :sancionadovictimario, 
           collection: ApplicationHelper::NOSI,
           include_blank: false %>

       </div>
     <% end %>


      <%= f.association :motivonodenuncia,
        collection: ::Motivonodenuncia.habilitados,
        include_blank: false,
        label_method: :nombre, 
        value_method: :id %>

      <%= f.input :valoracionjusticia, 
        collection: ApplicationHelper::VALORACIONBRM,
        include_blank: true %>

      <%= f.input :quisieradenunciar, 
        collection: ApplicationHelper::NOSI,
        include_blank: true %>

      <% if f.object.caso.casosjr.oficina_id == 104 && 
           can?(:edit, :casosacin) then %>
         <div class="privado alert-info">

           <%= f.input :compromisosadquiridos %>

           <%= f.input :observaciones %>

         </div>
       <% end %>

    </div>
  </div>


    <% if f.object.caso.casosjr.oficina_id == 103 && 
         can?(:edit, :casosoik) then %>
      <div class="privado alert-info">
         <%= render 'evento_oik_campos', :f => f %>
       </div>
    <% end %>
  
    <center><%= link_to_remove_association "Eliminar Evento", f, 
      {:class => 'btn-danger centrado', :'data-existing' => 'true'} 
      %></center>
  </div>
</div>
<hr>
