<div class="privado alert-info">
  <div class="row">
    <div class="col-md-4">
      <%= f.input :prespnombre %>
    </div>
    <div class="col-md-4">
      <%= f.input :prespsexo %>
    </div>
    <div class="col-md-4">
      <%= f.input :prespexterno %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :prespnumid %>
    </div>
    <div class="col-md-4">
      <%= f.input :prespetnia %>
    </div>
    <div class="col-md-4">
      <%= f.input :prespocupacion %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :prespresidencia %>
    </div>
    <div class="col-md-6">
      <%= f.input :prespcomunidad %>
    </div>
  </div>
</div>
