<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>
    <%= f.input :fecha, 
	    :input_html => { "data-behaviour" => "datepicker"},
	    :as => :string
    %>

    <%= f.input :mesinexacto,
      boolean_style: :nested
    %>
    <%= f.input :diainexacto,
      boolean_style: :nested
    %>
    <%= f.input(
      :diasemana, 
      collection: [
        [:DOMINGO, 0], 
        [:LUNES, 1], 
        [:MARTES, 2], 
        [:MIERCOLES, 3],
        [:JUEVES, 4], 
        [:VIERNES, 5], 
        [:SABADO, 6] 
      ]) 
    %>

    <div class="hora">
	    <%= f.input :hora, wrapper_html: {style: 'display: inline-flex'} %>
    </div>

    <%= f.input :resguardo %>

    <%= f.input :comunidad %>

    <%= f.input :numvecesantes %>

    <table border=1 width="100%">
      <thead>
        <tr>
          <th>Presunto Responsable</th>
          <th>Agresión Particular</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="actosevento">
      <% f.simple_fields_for :actoevento do |a| %>
        <%= render 'actoevento_campos', :f => a %>
      <% end %>
      </tbody>
    </table>
    <div class="links">
      <%= link_to_add_association 'Añadir Acto', f, 
        :actoevento,
        :"data-association-insertion-node" => "tbody#actosevento", 
        :"data-association-insertion-method" => "append", 
        partial: 'actoevento_campos',
        :class => 'btn-primary'
      %>
    </div>

    <%= f.input :testigo, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false
    %>

    <%= f.input :acompnecesita %>

    <%= f.input(
      :situacionriesgo, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false)
    %>

    <%= f.input(
      :solicitomedidas, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false)
    %>

    <%= f.input :medidasrecibidas %>

    <%= f.input :brindadaproteccion %>

    <%= f.input :denuncia, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false
    %>

    <%= f.input :denunciaante, 
      collection: [
        ['AMBOS SISTEMAS', :A],
        ['ORDINARIA', :O], 
        ['PROPIA', :P], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false
    %>

    <%= f.input :fechadenuncia %>

    <%= f.input :valoracionjusticia, 
      collection: [
        ['BUENA', :B],
        ['MALA', :M], 
        ['REGULAR', :R]
      ],
      include_blank: false
     %>

    <%= f.input :quisieradenunciar, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false
    %>

    <% if f.object.caso.casosjr.oficina_id == 104 && can?(:edit, :casosacin) then %>
       <div class="panel panel-default">
         <div class="panel-heading">Privado ACIN</div>
         <div class="panel-body">
           <%= render 'evento_acin_campos', :f => f %>
         </div>
       </div>
    <% end %>
  

    <%= link_to_remove_association "Eliminar Evento", f, 
      {:class => 'btn-danger', :'data-existing' => 'true'} 
    %>
  </div>
</div>
