<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>

    <%= f.input :anio, 
      collection: @anios,
      label: 'Año' 
    %>
    <%= f.input :mes, 
      collection: @meses,
      label: 'Mes'
    %>
    <%= f.input :dia, collection: @dias, label: 'Día' %>

    <%= f.input(
      :diasemana, 
      collection: [
        [:DOMINGO, 0], 
        [:LUNES, 1], 
        [:MARTES, 2], 
        [:MIERCOLES, 3],
        [:JUEVES, 4], 
        [:VIERNES, 5], 
        [:SABADO, 6] 
      ]) 
    %>

    <div class="hora">
	    <%= f.input :hora, wrapper_html: {style: 'display: inline-flex'} %>
    </div>

    <%= f.association :departamento,
      collection: Sip::Departamento.habilitados.where(id_pais: 170),
      include_blank: true,
      label_method: :nombre, 
      value_method: :id
    %>
    
    <%= f.association :municipio,
      collection: ( Sip::Municipio.habilitados.where(
        id_departamento: f.object.departamento_id)),
      include_blank: true,
      label_method: :nombre, 
      value_method: :id
    %>


    <%= f.input :resguardo %>

    <%= f.input :comunidad %>

    <%= f.input :numvecesantes %>

    <%= render 'actosevento_din', :f => f %>

    <%= f.input :testigo, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false
    %>


    <%= f.association :tafectacion,
      collection: ::Tafectacion.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id
    %>

    <%= f.association :tapoyo,
      collection: ::Tapoyo.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id
    %>

    <%= f.input :acompnecesita %>

    <%= f.input(
      :situacionriesgo, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false)
    %>

    <%= f.input(
      :solicitomedidas, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false)
    %>

    <%= f.input :medidasrecibidas %>

    <%= f.input :brindadaproteccion %>

    <%= f.input :denuncia, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false
    %>

    <%= f.input :denunciaante, 
      collection: [
        ['AMBOS SISTEMAS', :A],
        ['ORDINARIA', :O], 
        ['PROPIA', :P], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false
    %>

    <%= f.input :aniodenuncia, 
      collection: @anios,
      label: 'Año denuncia' 
    %>
    <%= f.input :mesdenuncia, 
      collection: @meses,
      label: 'Mes denuncia'
    %>
    <%= f.input :diadenuncia, 
      collection: @dias, 
      label: 'Día denuncia' %>

    <%= f.association :motivonodenuncia,
      collection: ::Motivonodenuncia.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id
    %>

    <%= f.input :valoracionjusticia, 
      collection: [
        ['SIN INFORMACIÓN', :S],
        ['BUENA', :B],
        ['REGULAR', :R],
        ['MALA', :M] 
      ],
      include_blank: false
     %>

    <%= f.input :quisieradenunciar, 
      collection: [
        ['NO', :N],
        ['SI', :S], 
        ['SIN INFORMACIÓN', :I]
      ],
      include_blank: false
    %>

    <% if f.object.caso.casosjr.oficina_id == 104 && can?(:edit, :casosacin) then %>
       <div class="panel panel-default">
         <div class="panel-heading">Privado ACIN</div>
         <div class="panel-body">
           <%= render 'evento_acin_campos', :f => f %>
         </div>
       </div>
    <% end %>
  

    <%= link_to_remove_association "Eliminar Evento", f, 
      {:class => 'btn-danger', :'data-existing' => 'true'} 
    %>
  </div>
</div>
