<div class="privado alert-info">
  <div class="row">
    <div class="col-md-4">
      <%= f.input :prespnombre %>
    </div>
    <div class="col-md-4">
      <%= f.input :prespsexo,
        collection:ApplicationHelper::SEXO,
        include_blank: false %>
    </div>
    <div class="col-md-4">
      <%= f.input :prespexterno %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :prespnumid %>
    </div>
    <div class="col-md-4">
      <%= f.association :prespetnia,
        collection: Msip::Etnia.habilitados,
        include_blank: false,
        label_method: :nombre, 
        value_method: :id %>
    </div>
    <div class="col-md-4">
      <%= f.input :prespocupacion %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :prespresidencia %>
    </div>
    <div class="col-md-6">
      <%= f.input :prespcomunidad %>
    </div>
  </div>
</div>
