<div class="container" data-controller="msip--geodep">
    <div class="row filtro-fila">
      <div class="text-center offset-sm-0 col-sm-10 offset-md-1 col-md-8">
        Filtro
      </div>
      <div class="offset-sm-0 col-sm-1">Incluir</div>
      <div class="offset-sm-0 col-sm-1">Ordenar por</div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:fecharec) %>
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :fecharecini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Inicial',
          input_html: {
            type: "date"
          }
        %>
      </div>
      <div class="offset-sm-1 col-sm-3">
        <%= f.input :fecharecfin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Final',
          input_html: {
            type: "date"
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_fecharec, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.radio_button(:orden, :fecharec, checked: true) %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Ubicación
      </div>
      <div class="offset-sm-0 col-sm-4 col-md-4">
        <%= f.input :departamento_id,
          collection: Msip::Departamento.habilitados.where(pais_id: 170),
          input_html: {
            class: 'tom-select', 
            data: {
              action: "change->msip--geodep#cambiar_departamento",
              "msip--geodep-target": "departamento"
            }
          },
          include_blank: "-- Departamento",
          label: false,
          label_method: :nombre,
          value_method: :id
        %>
      </div>
      <div class="col-md-3">
        <%= f.input :municipio_id,
          collection: Msip::Municipio.habilitados,
          include_blank: "-- Municipio",
          input_html: {
            class: 'tom-select', 
            data: {
              action: "change->msip--geodep#cambiar_municipio",
              "msip--geodep-target": "municipio"
            }
          },
          label: false,
          label_method: :nombre,
          value_method: :id
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_ubicaciones, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.radio_button :orden, :ubicaciones %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:oficina) %>
      </div>
      <div class="offset-sm-0 col-sm-7">
        <%= f.input :oficina_id,
          collection: Msip::Oficina.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Organización'
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_oficina, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div> 

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:asesor) %>
      </div>
      <div class="offset-sm-0 col-sm-7">
        <%= f.input :usuario_id,
          collection: ::Usuario.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Asesor'
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_nusuario, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div> 

    <% if can? :edit, :casosacin %>
      <div class="alert-info row filtro-fila">
        <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
          <%= Sivel2Gen::Caso.human_attribute_name(:contacto) %>
        </div>
        <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
          <%= f.input :nombressp,
            maxlength: 50, 
            size: 10,
            label: false,
            placeholder: 'Nombre(s)'
          %>
        </div>
        <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
          <%= f.input :apellidossp,
            maxlength: 50, 
            size: 10,
            label: false,
            placeholder: 'Apellido(s)'
          %>
        </div>
        <div class="offset-sm-0 col-sm-1 text-center">
          <%= f.input :inc_contacto, 
            as: :boolean, 
            label: false,
            input_html: { checked: "checked" }
          %>
        </div>
        <div class="offset-sm-0 col-sm-1 text-center">
        </div>
      </div>
    <% end %>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
      </div>

      <div class="offset-sm-0 col-sm-4 col-md-3">
        <%= f.input :sexo, 
          collection: [
            ["SIN INFORMACIÓN", :S], 
            ["MUJER", :F], 
            ["HOMBRE", :M]
          ], 
          label: false,
          include_blank: '-- Sexo'
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :rangoedad_id, 
          collection: Sivel2Gen::Rangoedad.habilitados,
          label: false,
          label_method: :nombre,
          value_method: :id,
          include_blank: '-- Rango de Edad'
        %>

      </div>
      <div class="offset-sm-1 col-sm-1 offset-md-0 text-center">
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>

    <div class="row filtro-fila">

      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
       Hecho victimizante
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
        <%= f.input :relacionadocon,
          collection: ::ApplicationHelper::TIPOCONFLICTO,
          label: false,
          include_blank: '-- Relacionado con conflicto'
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-4">
        <%= f.input :categoria_ids,
          collection: Sivel2Gen::Categoria.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Categoria',
          input_html: { 
            multiple: true,
            class: 'tom-select'
        } %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Etiqueta
      </div>
      <div class="offset-sm-0 col-sm-1">
        <%= f.input :conetiqueta1, 
          collection: [ ["TIENE", true], ["NO TIENE", false] ], 
          label: false,
          include_blank: false
        %>
      </div>
      <div class="offset-sm-0 col-sm-2">
        <%= f.input :etiqueta1,
          collection: Msip::Etiqueta.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 1'
        %>
      </div>
      <div class="offset-sm-1 col-sm-1">
        <%= f.input :conetiqueta2, 
          collection: [ ["TIENE", true], ["NO TIENE", false] ], 
          label: false,
          include_blank: false
        %>
      </div>
      <div class="offset-sm-0 col-sm-2">
        <%= f.input :etiqueta2,
          collection: Msip::Etiqueta.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 1'
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>
    

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
       Código(s) 
      </div>
      <div class="offset-sm-0 col-sm-2 offset-md-0 col-md-7">
        <%= f.input :codigo, 
          placeholder: 'Código(s)',
          label: false
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_casoid,
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.radio_button(:orden, :codigo) %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:fechahecho) %>
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :fechahechoini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Inicial',
          input_html: {
            type: "date"
          }
        %>
      </div>
      <div class="offset-sm-1 col-sm-3">
        <%= f.input :fechahechofin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Final',
          input_html: {
            type: "date"
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_fechahecho, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>


    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Presentación  
      </div>
      <div class="offset-sm-1 col-sm-4">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="offset-sm-1 col-sm-1">
        <%= f.input :paginar, 
          as: :boolean, 
          label: 'Paginar',
          input_html: { checked: "checked" }
        %>
      </div>
    </div> <!-- row presentacion-->

    <% if @plantillas %>
      <div class="row filtro-fila">
        <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
          Generar Plantilla
        </div>
        <div class="offset-sm-1 col-sm-4">
          <%= f.input :disgenera,
            collection: @plantillas,
            label: false,
            include_blank: false
          %>
        </div>
        <div class="col-sm-2">
          <%= link_to t('Generar ODS'), '#',
            class: 'btn', 
            onclick: 'heb412_gen_completa_generarp(this, '\
            '"#filtro_disgenera", null, "casos")',
            target: '_blank' %>
          <%= link_to t('Generar XLSX'), '#',
            class: 'btn', 
            onclick: 'heb412_gen_completa_generarp(this, '\
            '"#filtro_disgenera", null, "casos", "xlsx")',
            target: '_blank' %>
        </div>
        <div class="col-sm-3">
        </div>
      </div> <!-- row -->
    <% end %>  <!-- @plantillas -->

</div>
