<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
    <%= simple_form_for @caso, :html => { :class => 'form-horizontal' } do |f| %>
      <div data-role="content" class="form-inputs">

        <%= render partial: 'msip/hogar/errores', locals: { f: f } %> 
        <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

        <div class="accordion" id="acordeon-formv">

          <%= f.simple_fields_for :casosjr do |s| %>

            <%= item_acordeon_bs(
              'acordeon-formv', 'basicos', 
              'Datos Básicos', true)  do %>
              <%= render 'basicos', :f => f, :s => s %>
            <% end %>

            <%= item_acordeon_bs(
              'acordeon-formv', 'fuentes', 
              'Fuentes', false)  do %>
              <%= render 'sivel2_gen/casos/fuentesprensa', :f => f  %>  
            <% end %>

            <%= item_acordeon_bs(
              'acordeon-formv', 'contacto', 
              'Datos de la Víctima', false)  do %>
              <%= render 'contacto', :f => f, :s => s %>
            <% end %>

            <%= item_acordeon_bs(
              'acordeon-formv', 'eventos', 
              'Eventos de Violencia y Seguimiento', false)  do %>
              <%= render 'eventos', :f => f, :fcasosjr => s %> 
            <% end %>

            <%= item_acordeon_bs(
              'acordeon-formv', 'anexos', 
              'Anexos', false)  do %>
              <%= render 'sivel2_gen/casos/anexos', :f => f %>
            <% end %>

            <%= item_acordeon_bs(
              'acordeon-formv', 'etiquetas', 
              'Etiquetas y solicitudes', false)  do %>
              <%= render 'sivel2_gen/casos/etiquetas', :f => f %>
            <% end %>
          <% end %>
        </div> <!-- accordion -->

        <div class="form-actions">
          <%= f.button :submit, 'Validar y Guardar', :class => 'btn btn-primary',
            'data-turbo' => false %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            casos_path, :class => 'btn' 
          %>
        </div> <!-- form-action -->

      </div> <!-- form-inputs -->
    <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

