<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <%= simple_form_for @caso, :html => { :class => 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %> 
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <div role="tabpanel">       
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#basicos" 
            class="fichacambia" aria-controls="basicos" role="tab" 
            data-toggle="tab">Datos Básicos</a></li>
          <li role="presentation"><a href="#fuentes" class="fichacambia" 
            aria-controls="fuentes" role="tab" 
            data-toggle="tab">Fuentes</a></li>
          <li role="presentation"><a href="#contacto" class="fichacambia" 
            aria-controls="contacto" role="tab" 
            data-toggle="tab">Datos de la Víctima</a></li>
          <li role="presentation"><a href="#eventos" class="fichacambia" 
            aria-controls="eventos" role="tab" 
            data-toggle="tab">Eventos de Violencia y Seguimiento</a></li>
          <li role="presentation"><a href="#anexos" class="fichacambia" 
            aria-controls="anexos" role="tab" 
            data-toggle="tab">Anexos</a></li>
          <li role="presentation"><a href="#etiquetas" class="fichacambia" 
            aria-controls="etiquetas" role="tab" 
            data-toggle="tab">Etiquetas</a></li>
        </ul>
        <div class="tab-content">
          <%= f.simple_fields_for :casosjr do |s| %>
            <div role="tabpanel" class="tab-pane active" id="basicos" > 
              <%= render 'basicos', :f => f, :s => s %>
            </div> 

            <div role="tabpanel" class="tab-pane" id="fuentes" > 
              <%= render 'sivel2_gen/casos/fuentesprensa', :f => f  %>
            </div>

            <div role="tabpanel" class="tab-pane" id="contacto" > 
              <%= render 'contacto', :f => f, :s => s %>
            </div>

            <div role="tabpanel" class="tab-pane" id="eventos" > 
              <%= render 'eventos', :f => f, :fcasosjr => s %>
            </div>
          <% end %>

  
          <div role="tabpanel" class="tab-pane" id="anexos"> 
            <%= render 'sivel2_gen/casos/anexos', :f => f  %>
          </div>

          <div role="tabpanel" class="tab-pane" id="etiquetas"> 
            <%= render 'sivel2_gen/casos/etiquetas', :f => f  %>
          </div> 

        </div> <!-- tab-content -->
      </div> <!-- tabpanel -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <%= f.button :submit, 'Validar y Guardar', :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        casos_path, :class => 'btn' 
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end %> <!-- else -->

