<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
    <%= simple_form_for @caso, :html => { :class => 'form-horizontal' } do |f| %>
      <div data-role="content" class="form-inputs">

        <%= render partial: 'msip/hogar/errores', locals: { f: f } %> 
        <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

        <ul class="nav nav-tabs" role="tablist">
          <%= item_nav_pestaña_bs(
            'basicos', 'Datos Básicos', true, 'fichacambia') %>
          <%= item_nav_pestaña_bs(
            'fuentes', 'Fuentes', false, 'fichacambia') %>
          <%= item_nav_pestaña_bs(
            'contacto', 'Datos de la Víctima', false, 'fichacambia') %>
          <%= item_nav_pestaña_bs(
            'eventos', 'Eventos de Violencia y Seguimiento', false, 'fichacambia') %>
          <%= item_nav_pestaña_bs(
            'anexos', 'Anexos', false, 'fichacambia') %>
          <%= item_nav_pestaña_bs(
            'etiquetas', 'Etiquetas y solicitudes', false, 'fichacambia') %>
        </ul>
        <div class="tab-content">
          <%= f.simple_fields_for :casosjr do |s| %>
            <%= contenido_pestaña_bs('basicos', true) do %>
              <%= render 'basicos', :f => f, :s => s %>
            <% end %>

            <%= contenido_pestaña_bs('fuentes', false) do %>
              <%= render 'sivel2_gen/casos/fuentesprensa', :f => f  %>
            <% end %>

            <%= contenido_pestaña_bs('contacto', false) do %>
              <%= render 'contacto', :f => f, :s => s %>
            <% end %>

            <%= contenido_pestaña_bs('eventos', false) do %>
              <%= render 'eventos', :f => f, :fcasosjr => s %>
            <% end %>

            <%= contenido_pestaña_bs('anexos', false) do %>
              <%= render 'sivel2_gen/casos/anexos', :f => f  %>
            <% end %>

            <%= contenido_pestaña_bs('etiquetas', false) do %>
              <%= render 'sivel2_gen/casos/etiquetas', :f => f  %>
            <% end %>
          <% end %> <!-- casosjr -->
        </div> <!-- tab-content -->
      </div> <!-- form-inputs -->

      <div class="form-actions">
        <%= f.button :submit, 'Validar y Guardar', 
          :class => 'btn btn-primary',
          data: {
            disable_with: false,
            turbo: false
          } %>

        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          casos_path, :class => 'btn' %>
      </div> <!-- form-action -->
    <% end %> <!-- simple_form_for @caso -->
  </article>
<% end %> <!-- else -->

