  
<% if fcasosjr.object.oficina_id == 104 && can?(:edit, :casosacin) then %>
  <%= fpersona.input :nombres, placeholder: 'N',
    value_method: lambda {|t| '' if t.nombres == 'N'} %>

  <%= fpersona.input :apellidos, placeholder: 'N',
    value_method: lambda {|t| '' if t.apellidos == 'N'} %>
  
  <%= fpersona.input :tdocumento_id,
    collection: Sip::Tdocumento.habilitados,
    label_method: :nombre,
    value_method: :id %>

<% else %>
  <%= fpersona.input :apellidos, :as => :hidden, 
    :input_html => { :value => "N" } %>
  <%= fpersona.input :nombres, :as => :hidden, 
    :input_html => { :value => "N" } %>
<% end %>

<%= fpersona.input :id, as: :hidden %>
<table>
  <tr>
    <td>
      <% @anios = *(1950..Date.today.year) %>
      <%= fpersona.input :anionac, 
        collection: @anios,
        label: 'Año Nacimiento' %>
    </td>
    <td>
      <%= fvictima.input :edad, as: :integer %> 
    </td>
    <td>
      <%= fvictima.input :edadactual, as: :integer %> 
    </td>
  </tr>
</table>

<%= fpersona.input :mesnac, 
  collection: ApplicationHelper::MESES,
  label: 'Mes Nacimiento' %>
<% @dias = *(1..31) %>
<%= fpersona.input :dianac, collection: @dias, label: 'Día Nacimiento' %>

<% if fcasosjr.object.oficina_id == 104 && can?(:edit, :casosacin) then %>
  <%= fvictimasjr.association :departamentores,
    collection: Sip::Departamento.habilitados.where(id_pais: 170),
    include_blank: true,
    label_method: :nombre, 
    value_method: :id %>

  <%= fvictimasjr.association :municipiores,
    collection: 
    ( Sip::Municipio.habilitados.where(
      id_departamento: fvictimasjr.object.departamentores_id
    )),
    include_blank: true,
    label_method: :nombre, 
    value_method: :id %>

  <%= fvictimasjr.input :resguardores %>

  <%= fvictimasjr.input :comunidadres %>

  <%= fvictimasjr.input :veredares %>
<% end %>

<%= fvictima.association :rangoedad,
  collection: Sivel2Gen::Rangoedad.habilitados,
  include_blank: false,
  label_method: :rango, 
  value_method: :id 
%>


<% if fcasosjr.object.oficina_id == 104 && can?(:edit, :casosacin) then %>
  <%= fvictima.input :hijos %>

  <%= fcasosjr.association :idioma,
    collection: Sivel2Sjr::Idioma.habilitados,
    include_blank: false,
    label_method: :nombre, 
    value_method: :id 
  %>
<% end %>

<%= fvictima.association :etnia,
	collection: Sivel2Gen::Etnia.habilitados,
	include_blank: false,
	label_method: :nombre, 
	value_method: :id 
%>

<%= fvictimasjr.association :estadocivil,
  collection: Sivel2Gen::Estadocivil.habilitados,
  include_blank: false,
  label_method: :nombre, 
  value_method: :id 
%>

<%= fvictimasjr.association :escolaridad,
  collection: Sivel2Gen::Escolaridad.habilitados,
  include_blank: false,
  label_method: :nombre, 
  value_method: :id
%>

<%= fvictimasjr.association :educacionpropia,
  collection: ::Educacionpropia.habilitados,
  include_blank: false,
  label_method: :nombre, 
  value_method: :id
%>

<%= fvictimasjr.input(
  :sistemasalud, 
  collection: ApplicationHelper::NOSI,
  include_blank: false
)
%>

<% if fcasosjr.object.oficina_id == 104 && can?(:edit, :casosacin) then %>

  <%= fvictimasjr.association :religion,
    collection: ::Religion.habilitados,
    include_blank: false,
    label_method: :nombre, 
    value_method: :id %>

  <%= fvictimasjr.input :comoingresos %>

  <%= fvictimasjr.input(
    :tienetierra, 
    collection: ApplicationHelper::TIENETIERRA,
    include_blank: false ) 
  %>

  <%= fvictimasjr.input :areatierra %>

<% end %>

<%= fpersona.input :sexo, 
  collection:ApplicationHelper::SEXO,
  include_blank: false 
%>
<%= fpersona.association :departamento,
  collection: (Sip::Departamento.habilitados.where(id_pais: 170)),
  label: "Departamento de Nacimiento", label_method: :nombre,
  value_method: :id 
%>
<%= fpersona.association :municipio,
  collection: 
  ( Sip::Municipio.habilitados.where(
    id_departamento: fpersona.object.id_departamento)
  ),
  label: "Municipio de Nacimiento",
  label_method: :nombre,
  value_method: :id 
%>

<%= fvictimasjr.input :resguardonac %>

<%= fvictimasjr.input :comunidadnac %>

<%= fvictimasjr.input :organizacionfilial %>

<%= fvictima.input :id, as: :hidden %>

<%= fvictimasjr.input(
  :incluidoruv, 
  collection: ApplicationHelper::NOSI,
  include_blank: false)
%>

<%= fvictimasjr.input(
  :cabezahogar, 
  collection: ApplicationHelper::NOSI,
  include_blank: false)
%>

<%= fvictimasjr.input(
  :liderazgo, 
  collection: ApplicationHelper::LIDERAZGO,
  include_blank: false)
%>

<% if fcasosjr.object.oficina_id == 104 && can?(:edit, :casosacin) then %>
  <%= fvictimasjr.input :tipoliderazgo %>
<% end %>

<%= fvictimasjr.input :id_victima, as: :hidden %>
